@import "tailwindcss";

@theme {
  --color-lamaSky: #C3EBFA;
  --color-lamaSkyLight: #EDF9FD;
  --color-lamaPurple: #CFCEFF;
  --color-lamaPurpleLight: #F1F0FF;
  --color-lamaYellow: #FAE27C;
  --color-lamaYellowLight: #FEFCE8;
}
